<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duty Mananger</title>
    <link rel="stylesheet" href="../style/css/main.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body style="background-color: #2C2F33;">
    <center style="margin-top: 20%;">
        <h1>Duty Mananger</h1>
        <br>
        <label class="form-switch"><input type="checkbox"><i></i></label>
    </center>
</body>
</html>